body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightcyan;
    color: black;
}

header {
    background-color: skyblue;
    color: white;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.main {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: skyblue;
}

.review {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px lightgray;
}

@media (max-width: 768px) {
    .main {
        padding: 10px;
    }

    form {
        padding: 15px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}